{% extends "base.html" %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Gotta catch em all!</h1>
  <p>Welcome to Kittymon! The finest Hello Kitty / Pokemon image hoarding game on the internet. Collect kitties and fight your way to the top of the leaderboard so you can lord your victory over all your friends!</p>
  <p>
  <a class="btn btn-lg btn-primary" href="/kitties" role="button">Go!</a>
  </p>
</div>
{% endblock %}
