{% extends "base.html" %}

{% block head %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'kittymon/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="col-md-8 content">
    {% if user_kitties %}
        <div id='pagination'>
            {% if user_kitties.has_previous %}
                <a href="?page={{ user_kitties.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
              Page {{ user_kitties.number }} of {{ user_kitties.paginator.num_pages }}
            </span>

            {% if user_kitties.has_next %}
                <a href="?page={{ user_kitties.next_page_number }}">next</a>
            {% endif %}
        </div>

        <div class="row">
            {% for user_kitty in user_kitties %}
              <div class="kitty col-xs-6 col-md-3">
                <a class="thumbnail" href="{% url 'kittymon:detail' user_kitty.kitty.id %}">
                  {% load staticfiles %}
                  <img class='battle' src="{% static 'kittymon/images/battle.png' %}"/>
                  <img src="{{ user_kitty.kitty.url }}"/>
                </a>
              </div>
            {% endfor %}
        </div>
    {% else %}
      <h2>You don't have any kitties!</h2>
    {% endif %}
  </div>
{% endblock %}

{% block sidebar %}
  <div class="col-md-4 content">
    {% if user_kitties %}
      <a class='btn btn-success btn-lg' id="catch_kitty" href="{% url 'kittymon:catch' %}">Catch another kitty!</a>
    {% else %}
      <a class='btn btn-success btn-lg' id="catch_kitty" href="{% url 'kittymon:catch' %}">Catch a kitty!</a>
    {% endif %}

    <div class="leaderboard">
      <h3>Top 10 Kitty Trainers</h3>
      <ul>
        {% for leader in leaders %}
          <li><h4>{{ leader.username }} ({{ leader.userkitty_set.all|length }})</h4></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
